<div class="container" > 
  <div class="element"> 
    <div class="cover"> 
      <p>Sobre mí</p>
    </div>
    <div class="content"> 
      <p>
        Soy 
        <span class="highlight" data-icon="design">diseñadora UX/UI
        <img src="/assets/design.svg" alt="Icono design" class="icon" id="design"></span>, 
        curiosa por naturaleza y siempre en busca de  
        <span class="highlight" data-icon="soluciones">soluciones
        <img src="/assets/soluciones.svg" alt="Icono soluciones" class="icon" id="soluciones"></span> creativas.
        Disfruto 
        <span class="highlight" data-icon="explorar">explorar
        <img src="/assets/explorar.svg" alt="Icono explorar" class="icon" id="explorar"></span>
        nuevas ideas,  
        <span class="highlight" data-icon="aprender">aprender 
        <img src="/assets/aprender.svg" alt="Icono aprender" class="icon" id="aprender"></span>
        algo nuevo cada día y enfrentar 
        <span class="highlight" data-icon="desafios">desafíos
        <img src="/assets/desafios.svg" alt="Icono desafios" class="icon" id="desafios"></span>.  
        Creo en el poder del 
        <span class="highlight" data-icon="equipo">trabajo en equipo 
        <img src="/assets/equipo.svg" alt="Icono equipo" class="icon" id="equipo"></span>
        y en la 
        <span class="highlight" data-icon="colaboracion">colaboración 
        <img src="/assets/colaboracion.svg" alt="Icono colaboracion" class="icon" id="colaboracion"></span>  
        para construir experiencias que realmente aporten valor.  
        En momentos de ocio disfruto de jugar juegos de mesa,
        <span class="highlight" data-icon="ocio"> videojuegos
        <img src="/assets/ocio.svg" alt="Icono ocio" class="icon" id="ocio"></span>, 
        <span class="highlight" data-icon="dibujar">dibujar
        <img src="/assets/dibujar.svg" alt="Icono dibujar" class="icon" id="dibujar"></span>
         y compartir con amigos.
      </p>
    </div>
  </div>
</div>
