<footer class="footer line-hand">
  <div class="footer-content">
    <div class="logo-section">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <p class="tagline">Diseñado con ✨ y matecito 🧉</p>
    </div>

    <div class="sectionright">

    <div class="links-section">
      <a href="mailto:nouvalle.graf@gmail.com" class="fa fa-envelope" title="Enviar Email"></a>
      <a href="https://www.linkedin.com/in/noelia-valle/" class="fa fa-linkedin" target="_blank"></a>
      <a href="https://www.behance.net/nouvgraf" class="fa fa-behance" target="_blank"></a>
      <a href="https://github.com/Noegraf" class="fa fa-github" target="_blank"></a>
      <a href="https://wa.me/5493412012364?text=Hola%20Noelia%2C%20te%20contacto%20desde%20tu%20web" class="fa fa-whatsapp" target="_blank"></a>
    </div>

    <div class="footer-note">
      <p>© {{ currentYear }} Noelia Valle. Todos los derechos reservados.</p>
    </div>

  </div>

  </div>
</footer>
