.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  padding: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.logo {
  max-width: 120px;
  height: auto;
}

.tagline {
  font-family: var(--font-family-secondary);
  font-size: 0.9rem;
  color: var(--neutral-50);
}

.sectionright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.links-section {
  display: flex;
  gap: 1rem;
}

.links-section a {
  font-size: 1.5rem;
  color: var(--neutral-50);
  transition: color 0.3s ease;
}

a {
  text-decoration: none;
}

/* Colores de branding al hacer hover */
.links-section a.fa-envelope:hover {
  color: #D44638; /* Gmail */
}

.links-section a.fa-linkedin:hover {
  color: #0A66C2;
}

.links-section a.fa-behance:hover {
  color: #1769FF;
}

.links-section a.fa-github:hover {
  color: #333;
}

.links-section a.fa-whatsapp:hover {
  color: #25D366;
}

.footer-note {
  font-size: 0.8rem;
  color: var(--neutral-70);
  text-align: center; /* Asegura que la nota esté centrada en móviles */
  width: 100%; /* Ocupar todo el ancho disponible */
}

/* Media Query para dispositivos más pequeños (móviles y tablets) */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .logo-section {
    align-items: center;
    gap: 1rem;
  }

  .sectionright {
    align-items: center;
    gap: 1rem;
    width: 100%; /* Aseguramos que ocupe todo el ancho */
  }

  .links-section {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem; /* Reducir el espacio entre los íconos */
  }

  .links-section a {
    font-size: 1.2rem; /* Reducir tamaño de los íconos en móviles */
  }

  .footer-note {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.8rem;
  }

  .footer-note {
    font-size: 0.7rem; /* Reducir tamaño de texto en la nota */
  }

  .logo {
    max-width: 100px; /* Hacer el logo un poco más pequeño en móviles muy pequeños */
  }

  .links-section a {
    font-size: 1.1rem; /* Ajuste fino del tamaño de los íconos */
  }
}
