<nav>
  <ul>
    <li routerLink="/home" routerLinkActive="active" (click)="scrollToSection('home')">Inicio</li>
    <li routerLink="/about" routerLinkActive="active" (click)="scrollToSection('about')">Sobre Mí</li>
    <li routerLink="/timeline" routerLinkActive="active" (click)="scrollToSection('timeline')">Trayectoria</li>
    <li routerLink="/projects" routerLinkActive="active" (click)="scrollToSection('projects')">Proyectos</li>
    <li routerLink="/contact" routerLinkActive="active" (click)="scrollToSection('contact')">Contacto</li>
  </ul>
</nav>

