<div class="home-container">

  <div class="home-content">

  <div class="photo-frame">
    <img src="assets/FotoPerfilNoelia.svg" alt="Noelia Valle" class="photo" />
    <div class="tape"></div>
  </div>

  <div class="text-container">
    <div class="info">
    <h1 class="name">Noelia Valle</h1>
    <h2 class="title">UX/UI Designer</h2>
   </div>

   <button class="button-55" (click)="downloadCV()">

<img src="assets/download.png" alt="download cv"> Descargar CV 
  </button>

      <div class="links-section">
      <a href="mailto:nouvalle.graf@gmail.com" class="fa fa-envelope" title="Enviar Email"></a>
      <a href="https://www.linkedin.com/in/noelia-valle/" class="fa fa-linkedin" target="_blank"></a>
      <a href="https://www.behance.net/nouvgraf" class="fa fa-behance" target="_blank"></a>
      <a href="https://github.com/Noegraf" class="fa fa-github" target="_blank"></a>
      <a href="https://wa.me/5493412012364?text=Hola%20Noelia%2C%20te%20contacto%20desde%20tu%20web" class="fa fa-whatsapp" target="_blank"></a>
    </div>
  
  </div>



</div>



</div>

