.home-container {
  display: flex;
  align-items: center;
  height: 100%; 

  justify-content: center;
  
}

.home-content {
     
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
 
}

.photo-frame {
  position: relative;
  background: white;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}

.photo {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.tape {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  width: 60px;
  height: 20px;
  background: var(--color-highlight);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.name {
  color: var(--neutral-10);
  margin: 0;

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.title {
  color: var(--neutral-10);
  margin: 0;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  animation: fadeIn 1.5s ease-in-out 0.5s forwards;
}






svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}




@keyframes scale-up-tr-normal {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: 100% 0%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 0%;
  }
}



.photo-frame {
  opacity: 0;
  animation: scale-up-tr-normal 1.5s ease 0s 1 normal both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    transform-origin: 100% 0%;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform-origin: 100% 0%;
  }
}


.text-container,
.download-btn {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 1.5s forwards;
}

.name,
.title {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 1.5s forwards;
}

.button-55 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 2s forwards;
  gap: 10px;
}

