/* ========== Reset básico ========== */
* {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}


/* ========== Main layout ========== */


/* Si quieres que cada sección ocupe toda la pantalla */
.full-page {
  min-height: 100vh;
  display: flex;

  justify-content: center;
 
  width: 100%;
  flex-direction: column;

} 

/* ========== Modal y Loader fuera de main ========== */
app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

app-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}


/* ========== Responsivo ========== */
@media (max-width: 1200px) {
  header, section, footer {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 768px) {
  header, section, footer {
    padding: 2rem 1rem;
  }

  .full-page {
    min-height: auto;
    padding-top: 1rem;
 
  }
}

@media (max-width: 480px) {
  header, section, footer {
    padding: 1.5rem 0.75rem;
  }
}
