/* Reseteo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Estilo del Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease-in-out;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px; /* Espacio para el header fijo */
}

/* Secciones */
.full-page {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Cuando se activa, la secci贸n aparece con efecto */
.full-page.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Fondos de secci贸n con degradados mejorados */
#home {
  background: var(--color-background);
}

#projects {
  background: var(--color-background);
  display: flex;
  justify-content: flex-start;
}

#about {
  background: var(--color-background);
}

#contact {
  background: var(--color-background);
}


/*  Animaci贸n de aparici贸n */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -45%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  header {
      padding: 10px 15px;
      font-size: 14px;
      flex-direction: row;
  }
  .full-page {
      padding: 30px 15px;
  }

}
